.lianxi{
	width: 100%;
	height: 100%;
	background-image: url("../img/bg.jpg");
	background-size: 100% 100%;
	position: relative;
}
.mb{
	width:100%;
	height:100%;
	background: #000;
	opacity: 0.8;
	position: absolute;
	top: 0;
	left: 0;
}
.bottom{
	width: 100%;
	height: 563px;
	opacity: 1;
	position: absolute;
	margin: auto;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
}
.bleft{
	width: 60%;
	height: 469px;
	float: left;
}
.bright{
	height: 469px;
	width: 40%;
	float: right;
}

.bbottom{
	width: 100%;
	height: 93px;
	border-top: 1px solid #383838;
	float: left;

}
.bbottom span{
	display: block;
	margin: 30px auto;
	font-size: 14px;
	color: #6d6969;
	text-align: center;
}
.bleft1{
	width: 523px;
	height: 222px;
	margin: 60px auto;
}
.bright1{
	width: 480px;
	height: 368px;
	float: left;
	margin-top: 70px;
}
.log1{
	width: 140px;
	height: 41px;
	background-image:url('../img/log.png');
	background-size: 100% ;
	background-position:center;
	background-repeat: no-repeat;
	float: left;
}
.bleft1 ul{
	width:100%;
	height: 50px;
	padding-top: 20px;
	float: left;
}
.bleft1 ul li{
	width: 33%;
	height: 50px;
	font-size: 16px;
	color: white;
	float: left;
	text-align: left;
}
.bleft1 ul li img{
	width: 220px;
	height: 26px;
}
.bright span{
	display: block;
	font-size: 20px;
	color: white;
	text-align: left;
}

.bright1 input{
	width: 100%;
	height: 34px;
	margin-top: 15px;
	float: left;
	color: #383737;
	font-size: 16px;
	background: #201f1f;
}
.bright1 input:nth-child(1){
	width: 30%;
}
.bright1 input:nth-child(2){
	width: 60%;
	float: right;
}
.bright1 input:nth-child(4){
	height: 99px;
}
.bright1 input:nth-child(5){
	width: 138px;
	height: 34px;
	margin-top: 30px;
	float: right;
	color: white;
	font-size: 18px;
	background: #3c3314;
	border-radius: 3px;
}
.dishang{
	width:100%;
	height:70%;
	background-image: url("../img/bg.jpg");
	background-size: 100% 100%;
	position: absolute;
	top: 0;
}
#ruanjian{
	width:760px;
	height:760px;
	position: absolute;
	margin: auto;
	left: 0;
	right: 0;
	bottom: 0;
}
#ziliao{
	color: #000;
}
#jineng{
	color: #000;
}
.project-strip .project img{
	width:400px;
	height:300px;
}
.project-detail .project img{
	width:580px;
	height:370px;
}
.bbbb{
	width:100%;
	height: 100%;
	background-image:url("../img/bb.jpg");
	background-size: 100% 100%;
	margin-top: 0;
}
.aaaa{
	width:100%;
	height:100%;
	background-image:url("../img/aa.jpg");
	background-size: 100% 100%;
	margin-top: 0;
	padding-top: 200px;
}
.beijing{
	width: 100%;
	height:100%;
    background:#F2ECDE;
    overflow:hidden
}
.banner{
	width: 100%;
	height: 100%;
	background-image: url(../img/bg.jpg);
	background-size: 100% 100%;
	position:relative
}
.xingming{
	width: 400px;
	height: 200px;
	position: absolute;
	margin:auto;
	left: 0;
	right: 0;
	bottom:420px;
	background-image: url(../img/02.png);
	background-size: 100% 100%
}
.zhezhao{
	width: 100%;
	height: 100%;
	background: #000;
	opacity: 0.7
}
.xuanyan{
	width: 100%;
	height: 100px;
	font-size: 40px;
	line-height: 100px;
	color:#fff;
	position: absolute;
	bottom: 290px;
	text-align: center
}
.ydd{
	width: 100%;
	height: 100px;
	background: #000;
	position: fixed;
	top: 0;
}
@media screen and (min-width: 1024px){
	.gongzuojingli{
		width: 1024px;
		overflow: hidden;
		margin:50px auto;
	}
.chatu{
	width: 704px;
	height: 100px;
	margin: 0 auto;
	background: #f6f6f6;
}
.chatu1{
	width: 90%;
	height: 100px;
    background: #f6f6f6;
    margin: 0 auto;
}
.yeding{
	height: 40px;
	width: 1024px;
}
.ziliaodi{
	width: 1024px;
	height:100%;
	margin: 0 auto;
}
.z1{
	margin-top: 50px;
	float: left;
	width: 50%
}
.gzjn{
	padding-top: 100px;
	width:100%;
	height:100%;
	margin:0 auto;
	background: #fff
}
    .ruanjian2{
    width: 300px;
    height: 300px;
	float: left;
		margin: 40px;
    }
	.touxiang1{
		width: 100%;
	height: 150px;
	font-size: 24px;
	text-align: center;
	line-height: 150px
}
}
@media screen and (max-width: 1024px){
	.bright{
display: none;
	}
	.ruanjian2{
		width: 300px;
		height: 300px;
		float: left;
		margin: 40px;
	}
	.touxiang1{
		width: 100%;
	height: 150px;
	font-size: 24px;
	text-align: center;
	line-height: 150px
}
    .chatu{
	width: 704px;
	height: 100px;
	margin: 0 auto;
	background: #f6f6f6;
}
    .chatu1{
	margin-right: 24px;
	margin-left: 24px;
	height: 100px;
    background: #f6f6f6;
}
	.gongzuojingli{
		margin-left: 24px;
		margin-right: 24px;
		overflow: hidden;
		margin:50px auto;
	}
	.yeding{
	height: 40px;
	background:#C1C1C1
    }
    .z1{
		margin-top: 50px;
	float: left;
	width: 50%
    }
    .ruanjian{
	width:25%;
	height: 200px;
	float: left;
	position: relative;
    }
    .gzjn{
	height:100%;
	width:100%;
	background: #fff;
	padding-top: 100px;
    }
}
@media screen and (max-width: 768px){
.chatu{
	width: 100%;
	height: 100px;
	margin: 0 auto;
	background: #f6f6f6;
}
.chatu1{
	width: 90%;
	height: 100px;
    background: #C1C1C1
}
.liebiao2{
	margin: 0 auto;
	width: 100px;
	height: 100px;
	border-radius: 50%;
}
.liebiao2 img{
	width: 100%;
	height: 100%;
	border-radius: 50%
}
.z2{
    margin-right: 24px;
    margin-left: 24px
}
.ruanjian2{
	width:180px;
    height:180px;

    }
}
@media screen and (max-width: 768px){
	#ruanjian{
		width:100%;
	}
	.liebiao1{
		display:none
	}
	.liebiao2{
		display: block;
	}
	.z1{
		display:none
	}
	.z2{
		display: block;
	}
	.jl1{
		display:none
	}
	.jl2{
		display:none
	}
	.jl4{
		display: block;
	}
}
@media screen and (min-width: 768px){
	.liebiao2{
		display:none
	}
	.liebiao1{
		display: block;
	}
	.z2{
		display:none
	}
	.z1{
		display: block;
	}
	.jl1{
		display:block;
	}
	.jl2{
		display:block;
	}
	.jl4{
		display: none;
	}
}
.yeding ul{
    height: 100px;
	color: #fff;
	text-align: justify;
}
.yeding ul li{
	margin-left: 24px;
	margin-right: 24px;
	font-size: 24px;
	line-height: 100px;
	display:inline-block;
	margin-top:-5px
}
.liebiao1:after{
	height: 0;
	width: 100%;
	content: "";
	display:inline-block;
}
.ziliaoneirong{
	padding-left: 50px;
	width: 100%;
	overflow:hidden;
}
.z1 li{
	font-size: 20px;
	line-height: 50px;
    margin-left: 24px;
    margin-right: 24px
}
.z2 li{
	font-size: 20px;
	line-height: 50px;
}
.di{
	width: 100%;
	height:30%;
	background: #ccc;
	position: absolute;
	bottom:0;

}
.geren{
	width: 100%;
	height: 150px;
	font-size: 24px;
	line-height: 150px;
	text-align: center
}
.erweima{
	width:100px;
	height: 100px;
	position: absolute;
	left: 0;
	right: 0;
	top:100px;
	margin:auto;
}
.erweima img{
	width: 100%;
	height: 100%
}
.qq{
	width: 100%;
	position: absolute;
	line-height:100px;
	bottom: 10px;
	text-align: center
}
.tudi{
	width: 45%;
	height: 100%;
	float: left;
	margin-left: 20px;
}
.tudi2{
	width: 30%;
	height: 100%;
	float: left;
	margin-left: 15px;
}
.gongzuojingli .tu{
	width:100%;
    height: 70%
}
.gongzuojingli .zi{
	width: 100%;
	height: 25%;
	font-size: 20px;
	line-height: 40px;
	text-align: center;
	background: #ccc;
}
.gongzuojingli .tu img{
	width: 100%;
	height: 100%
}
.gzjl{
	width: 100%;
	height: 50px;
    text-align: center;
    font-size: 18px;
    line-height: 50px;
}
	.jl1{
		width: 60%;
		height: 300px;
		margin: 0 auto;
	}
	.jl2{
		width: 90%;
		height: 300px;
		margin: 0 auto;
	}
	.jl4{
		padding-left: 24px;
		padding-right: 24px;
		overflow: hidden;
	}
	.tu2{
		width: 45%;
        height: 300px;
        margin-right: 2px;
        float: left;
        margin-bottom: 2px
	}
	.tu2 img{
		width: 100%;
		height: 70%
	}
	.zi2{
	width: 100%;
	height: 30%;
	font-size: 30px;
	line-height: 45px;
	text-align: center;
	background: #ccc;
}
.zuopin-zi{
	width: 100%;
	overflow: hidden;
	font-size: 10px;
	text-align: center;
	line-height:25px
}
.jineng{
	width: 100%;
	height: 80px;
	font-size: 20px;
	text-align: center;
	line-height: 80px 
}
.chatu img{
	width: 100%;
	height: 100%
}
.yeding{
	background: #000;
	margin: 0 auto;
}
.chatu ul{
	width: 100%;
    height: 100px;
	background: #f6f6f6;
	text-align: justify;
}
.chatu ul li{
	margin-left: 24px;
	margin-right: 24px;
	height: 70px;
	display:inline-block;
	margin-top:15px;
	width: 70px
}
.ld img{
	width: 100%;
	height: 100%
}
.lb:after{
	height: 0;
	width: 100%;
	content: "";
	display:inline-block;
}
.ruanjian2 img{
	width: 100%;
	height: 100%
}
